body {
    background-color: black;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}


.header {
    position: relative;
    text-align: center;
    color: white;
}

.bgImg {
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 0.01%, #000000 100%), url(image_2023-02-12_01-54-27.png);
}

.headText {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    font-size: 64px;
    text-shadow: rgb(248, 248, 248) 1px 0 10px;
}

.tiflingsWrl {
    padding-top: 178px;
}

.tfWrl {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 58px;
    color: white;
    margin-top: -60px;
    margin-bottom: 90px;
}

.tfImgWrl {
    display: flex;
    width: 656px;
    height: 605px;
    padding-left: 96px;
}





.containerWrl {
    color: white;
    display: flex;
    padding-left: 65%;
    padding-bottom: 300px;
    margin-top: -550px;
}

.btnWrl {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupWrl {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s, 0.8s visibility;
}

.open-popupWrl {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 50px) scale(1);
    width: 656px;
    height: 605px;
}


.popupWrl img {
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupWrl h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupWrl button {
    width: 100%;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}






.containerT {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: -200px;
}

.btnT {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupT {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupT {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 50px) scale(1);
    width: 656px;
    height: 605px;
}

.popupT img {
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupT h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupT button {
    width: 100%;
    margin-top: 250px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupT p {
    font-size: 26px;
}






.containerH {
    color: white;
    display: flex;
    padding-left: 65%;
    padding-bottom: 300px;
    margin-top: 100px;
}

.btnH {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupH {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupH {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 50px) scale(1);
    width: 656px;
    height: 605px;
}

.popupH img {
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupH h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupH button {
    width: 100%;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupH p {
    font-size: 18px;
}










.containerX {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: -200px;
}

.btnX {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupX {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 35px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupX {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 50px) scale(1);
    width: 656px;
    height: 600px;
}

.popupX img {
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupX h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupX button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupX p {
    font-size: 16px;
}













.dfText {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 58px;
    color: white;
    margin-top: 250px;
}

.dvImg {
    display: flex;
    width: 656px;
    height: 605px;
    padding-left: 96px;
    margin-top: 85px;
}











.containerP {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: -540px;
}

.btnP {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupP {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupP {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 1230px) scale(1);
    width: 656px;
    height: 600px;
}

.popupP img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupP h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupP button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupP p {
    font-size: 24px;
}







.containerS {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: 110px;
}

.btnS {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupS {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupS {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 1230px) scale(1);
    width: 656px;
    height: 600px;
}

.popupS img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupS h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupS button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupS p {
    font-size: 20px;
}






.containerI {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: 110px;
}

.btnI {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupI {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupI {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 1230px) scale(1);
    width: 656px;
    height: 600px;
}

.popupI img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupI h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupI button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupI p {
    font-size: 18.5px;
}







.containerHr {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: 110px;
}

.btnHr {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupHr {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupHr {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 1230px) scale(1);
    width: 656px;
    height: 600px;
}

.popupHr img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    ;
}

.popupHr h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupHr button {
    width: 100%;
    margin-top: 40px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupHr p {
    font-size: 22px;
}











.arText {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 58px;
    color: white;
    margin-top: 250px;
}

.arImg {
    display: flex;
    width: 656px;
    height: 605px;
    padding-left: 96px;
    margin-top: 85px;
}






.containerA {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: -540px;
}

.btnA {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupA {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupA {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 2200px) scale(1);
    width: 656px;
    height: 600px;
}

.popupA img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupA h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupA button {
    width: 100%;
    margin-top: 40px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupA p {
    font-size: 24px;
}











.containerSw {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: 70px;
}

.btnSw {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupSw {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupSw {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 2200px) scale(1);
    width: 656px;
    height: 600px;
}

.popupSw img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupSw h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupSw button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupSw p {
    font-size: 26px;
}













.containerSt {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: 70px;
}

.btnSt {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupSt {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupSt {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 2200px) scale(1);
    width: 656px;
    height: 600px;
}

.popupSt img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupSt h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupSt button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupSt p {
    font-size: 29px;
}







.containerSh {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: 70px;
}

.btnSh {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupSh {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupSh {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 2200px) scale(1);
    width: 656px;
    height: 600px;
}

.popupSh img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupSh h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupSh button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupSh p {
    font-size: 34px;
}







.containerSx {
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 65%;
    margin-top: 70px;
}

.btnSx {
    font-size: 20px;
    padding: 10px 60px;
    background: gray;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.popupSx {
    background: rgb(73, 72, 71);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s;
}

.open-popupSx {
    visibility: visible;
    top: 50%;
    transform: translate(-90%, 2200px) scale(1);
    width: 656px;
    height: 600px;
}

.popupSx img {
    width: 110px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.popupSx h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupSx button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: orange;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.popupSx p {
    font-size: 15px;
}